::selection {
  background: #000084;
}
::-moz-selection {
  background: #000084;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
}
#more {
	z-index: 999;
	position: fixed;
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'Perfect DOS VGA 437', 'RD CHULAJARUEK', serif;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	-ms-overflow-style: none;
	background: transparent;
	scrollbar-width: none
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none;
  width: 0;
  height: 0;
}

body:before {
	content: '3';
	font-size:150vw;
	text-align: center;
	z-index: -1;
	width: 100vw;
	line-height: 100vh;
	height: 100vh;
	padding-top: .1em;
	padding-left: .1em;
	background: #000;
	display: block;
	position: fixed;
	color: #121025;
	text-shadow: 2px 2px 15vw #121025;
}
.nav-links {
	border-bottom: 10px solid #99999b;
		-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
	pointer-events: none;
}
.navbar {
	position: relative;
	display:block;
	background: #000084;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0;
	border: none;
	border-bottom: 8px solid #fff;
	margin: 0;
}

.nav-links.count {
	border-bottom: 10px solid #fff;
}

.nav-links.count .navbar:before, .nav-links.count .navbar:after {
	display: none;
}

.navbar:before {
	position: absolute;
	content: '';
	background: url(../images/headleft.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0;
	border: none;
	display: inline-block;
	width: 622px;
	height: 128px;
	left: 0;
	top: 0;
}

.navbar:after {
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	background: url(../images/headright.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0;
	border: none;
	display: inline-block;
	width: 622px;
	height: 128px;
}

.navbar h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 5.75em;
    top: .1em;
    vertical-align: middle;
    line-height: 128px;
    height: auto;
    position: relative;
	z-index: 99999;
}
/*.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}
  
  .middle {
	display: table-cell;
	vertical-align: middle;
  }
  
  .inner {
	margin-left: auto;
	margin-right: auto;
	padding-top: calc(6vh + 50px);
	width: 100vw;
  }*/
.container.content {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#missiontitle {
	text-align: center;
  font-size: 12em;
  vertical-align: middle;
  line-height: 0.9em;
	padding-left: 0.1em;
	padding-top: 0.1em;
  height: auto;
  position: relative;
	z-index: 99999;
	border: 6px solid #fff;
	width: 4.5em;
	margin: 0.2em auto;
	animation: missionborder 1.25s step-start infinite;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
	pointer-events: none;

}

#missiontitle div {
	animation: missiontext 1s step-start infinite;
}

.nav-links.count .navbar {
	position: relative;
	display:block;
	background: #b55061;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0;
	border: none;
	border-bottom: 8px solid #fff;
	margin: 0;
}

#countdowntitle {
	text-align: center;
	width:80vw;
  font-size: 14.5vw;
  vertical-align: middle;
  line-height: 0.9em;
	padding-left: 0.1em;
	padding-top: 0.1em;
	height: auto;
  position: relative;
	z-index: 99999;
	background: #fff;
	color: #000;
	mix-blend-mode: screen;
	margin: 0.2em auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
	pointer-events: none;	
}

#countdowntime {
	text-align: center;
	width: 75vw;
  font-size: 16vw;
  vertical-align: middle;
  line-height: 1em;
	padding: 0.1em 0 0 0.1em;
  height: auto;
  position: relative;
	z-index: 99999;
	border: 1vw solid #fff;
	margin: 0 auto 0.1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
	pointer-events: none;	
}

ul#countdown {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}

ul#countdown li {
	display: inline;
	margin: 0 -.3em;
	color: #852633;
	}


#missiondetail {
	font-family: 'RD CHULAJARUEK';
  margin: 0 auto;
	font-size: calc(3vw + 3vh);
	word-spacing: 5px;
	text-align: left;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-flow: row wrap;
	width: 80%;
	max-width: 80%;
	animation: scale 1s linear infinite;
	transform: scale(0.95);
	background: transparent;
	resize: none;
	border: 0;
	overflow: hidden;
	outline: none;
	height: 1.5em;
	text-decoration: none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	word-spacing: -50%;
	cursor: text;
}
#missiondetail:hover, #missiondetail:active, #missiondetail:focus {
	background: transparent;
	border: 0;
	outline: none;
	text-decoration: none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
	box-shadow: none;
	cursor: text;
}
.sep {
	text-align: center;
  position: relative;
	display: block;
	background: #fff;
	height: 5px;
	width: 55%;
	margin: 1.5em auto 1em;
}
.sep:nth-child(2) {
	display: none;
}
#bottom {
	width: 100%;
	margin: 2em 0 2em;
	text-align: center;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	vertical-align: middle;	
	white-space: nowrap;
	height: 100%;
}
.float-left {
	width: 50%;
	display: inline-block;
	margin: 0 0 0 auto;
	vertical-align: middle;
}

.float-right { 
	width: 50%;
	display: inline-block;
	margin: 0 auto;
	vertical-align: middle;
}

#reward {	
	text-align: center;
  height: 100%;
  position: relative;
	display: block;
	box-sizing: border-box;
	border: 4px solid #6d6c7a;
	border-radius: 30px;
	width: 54em;
}

#reward h2 {
	margin: 0.1em 0 -0.1em;
	font-size: 8.5em;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
	pointer-events: none;
}
#reward h2 span {
	margin-left: 0.12em;
}

#reward p {
	font-family: 'RD CHULAJARUEK';
  margin: 0 auto 0.1em;
  font-size: calc(2.6vw + 2.6vh);
	display: block;
	text-align: left;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	max-width: 100%;
	transform: scale(0.95);
	background: transparent;
	border: 0;
	resize: none;
	overflow: hidden;
	outline: none;
	height: 1.6em;
	text-decoration: none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	padding-top: 0.1em;
	word-spacing: -50%;
	cursor: text;
}

#reward p:hover, #reward p:active, #reward p:focus {
	background: transparent;
	border: 0;
	outline: none;
	text-decoration: none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
	box-shadow: none;
	cursor: text;
}

#reward h2:before {
	content: '';
	width: 93px;
	height: 120px;
	background: url(../images/trophy.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin-top: -0.15em;	
	animation: scale2 0.5s linear infinite;
	transform: scale(0.75);
	vertical-align: middle;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
	pointer-events: none;
}

#reward h2:after {
	content: '';
	width: 93px;
	height: 120px;
	background: url(../images/trophy.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin-top: -0.15em;
	animation: scale2 0.5s linear infinite;
	transform: scale(0.75);
	vertical-align: middle;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none; 
	pointer-events: none;
}
#acceptbutton {
	padding: 7px;
	border: solid #004bf4 5px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
   user-select: none;
}

#acceptbutton.click {
	animation: scale3 0.25s linear;
	border-color: #fff;
	
}
#acceptbutton.click #accept {
	background: #fff;
	color: #000;	
}


#accept {
	display: inline-block;
	box-sizing: border-box;
	background: #004bf4;
	border: none;
	font-size: 72px;
	padding: .2em .4em .05em;
	text-indent: 8px;
	letter-spacing: -1px;
}

#accept:before {
	content: "ACCEPT MISSION"
}

@media(max-width:1600px){
	#reward {
		width: 45em;
	}
	#accept {
		font-size: 64px;
	}
	.sep {
		margin: 1.75em auto 0.75em;
	}
	#missiontitle {
		font-size: 10em;
		margin: 0.25em auto 0.15em;
	}
	#reward
	 h2 {
		font-size: 7em;
	}
	#missiondetail, #reward p {
		font-size: calc(2.5vw + 2.5vh);
	}
}
@media(max-width:1536px){
	#reward {
		width: 42.5em;
	}
	.sep {
		margin: 1.5em auto 0.5em;
	}
	#missiontitle {
		font-size: 9.5em;
	}
	#reward h2 {
		font-size: 6.5em;
	}
	#missiondetail, #reward p {
		font-size: calc(2.2vw + 2.2vh);
	}
	#bottom {
		margin-bottom: 1.5em;
	}
}

@media(max-width:1440px) and (max-device-height:900px) {
	#missiontitle {
		margin: 0.35em auto 0.2em;
		font-size: 9.5em;
	}
	#reward {
		width: 40em;
	}
	.sep {
		margin: 2em auto 1em;
	}
}

@media(max-width:1366px){
	.float-left {
		width:55%;
	}
	.float-right {
		width:45%;
	}
	#reward {
		width: 40em;
	}
	#reward h2 {
		font-size: 7em;
	}
	#accept {
		font-size: 54px;
	}
	#missiondetail {
    font-size: 3em;
	}
}
@media(max-width:1280px){
	#missiontitle {
		font-size: 10em;
		margin: 0.2em auto 0.1em;
	}
	.sep {
		margin: 1em auto 0.25em;
	}
}
@media(max-width:1200px){
	#missiontitle {
		width: 4.5em;
	}
}
@media(max-width:1080px){
}
@media(max-width:1024px){
	#missiondetail {
	font-size: 3em;
	height:3em;
	}
	#reward p {
	font-size: 3em;
	}
}
@media (max-width: 1024px) and (max-device-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	#missiontitle {
		margin-top: 1em;
		font-size: 10em;
	}
	.float-left, .float-right {
		display: block;
		margin: 0;
		width: 100%;
		text-align: center;
	}
	.float-right {
		margin-top: 5em;
	}
	#reward {
		display: inline-block !important;
		width: 40em !important;
	}
	#reward p {
		height: 3.2em;
	}
	#accept {
		font-size: 66px !important;
	}
}
@media(max-width:991px){
	#missiontitle {
	font-size: 10em;
	}
}
@media(max-width:834px){
	#reward {
		margin: 0.5em auto;
		width: 80% !important;
		height: 100%;
}
	#reward h2 {
		font-size: 7em;
	}
	#reward p {
		font-size: 2.2em;
		height: 1.75em;
	}
	#reward h2:before,
	#reward h2:after {
		width: 85px;
		height: 100px;
	}
	#missiondetail {
    font-size: 2.5em;
	}
	
	#nlmb {
		display: block;
		font-size: 1.15em;
		line-height: 0.9em;
		 margin-bottom: 0.2em;
	}
	.navbar h1 {
		 font-size: 5.25em;
	 }
	 .navbar:before {
		width: 311px;
		height: 64px;
		left: 0;
		top: 0;
	}
	.navbar:after {
		width: 311px;
		height: 64px;
		top: 64px;
	}
	.navbar {
		border-bottom: 4px solid #fff;
	}
	.nav-links {
		border-bottom: 4px solid #99999b;
	}
}


@media(min-width: 834px) and (max-width: 1112px) and (orientation: portrait){ 
	#missiontitle {
		margin-top: .4em !important;
		font-size: 9em;
	}
	#reward {
		width: 36em;
	}
	#reward h2 {
		font-size: 6.5em;
	}
	#accept {
		font-size: 46px;
	}
}
@media(max-width:834px){
	.float-left, .float-right {
		display: block;
		margin: 0;
		width: 100%;
		text-align: center;
	}
	#missiontitle {
		font-size: 9em;
	}
	.float-right {
			margin: 3.5em 0 2.5em;
	}
	#accept {
			font-size: 60px !important;
			text-indent: 6px;
	}
}
@media(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #missiontitle {
		margin-top: .3em;
		font-size: 7.5em;
	}
	#missiondetail {
		height: 1.6em;
	}
	#acceptbutton {
    padding: 6px;
		border-width: 4px;
	}
	#accept {
		font-size: 36px;
		text-indent: 5px;
	}
	#reward {
		width: 35em;
	}
	#reward h2 {
		font-size: 5em;
	}
	#reward h2:before,
	#reward h2:after {
		width: 76px;
		height: 90px;
	}
	.float-left {
		width:60%;
	}
	.float-right {
		width:40%;
	}
	.sep {
    height: 4px;
    width: 60%;
		margin: 2em auto 1em;
	}
}
@media(min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	#missiontitle {
		margin-top: 0.25em;
	}
	.sep {
    margin: 1em auto 0;
	}
}
@media(max-width:768px){	
	.float-right {
		margin: 2em 0 0;
	}
}
@media(max-width:736px){
	#missiontitle {
	font-size: 8.25em;
	}
	#reward {
	width: 80%;
	height: 100%;
	}
	#reward h2 {
		font-size: 5.8em;
	}
	#reward p {
		font-size: 2.5em;
	}
	#reward h2:before,
	#reward h2:after {
		width: 76px;
		height: 90px;
	}
}
@media(max-width:667px){
	#missiontitle {
	font-size: 7.75em;
	}
}
@media(max-width:640px){
	.navbar h1 {
		 font-size: 3.25em;
	 }
	.navbar:after {
		top: 0;
	}
	.navbar h1 {
		line-height: 64px;
	}
	#missiontitle {
	font-size: 7.25em;
	}
}
@media(max-width:600px){
	.navbar h1 {
		 font-size: 3em;
	 }
	 #missiontitle {
	font-size: 6.75em;
	}
	#reward {
	width: 90%;
	border: none;
	}
	#reward h2 {
		font-size: 4.5em;
	}
	#reward p {
		width: 85%;
		max-width: 85%;
		margin: 0	auto 0.1em;
		height: 3.2em;
	}
	#reward h2:before,
	#reward h2:after {
		width: 55px;
		height: 65px;
	}
	#missiondetail {
		height: 3.2em;
	}
	#bottom {
		margin: 0 0 1em;
	}
	.float-right {
		margin: 0 0 .5em;
	}
	#acceptbutton {
	padding: 5px;
	border: solid #004bf4 3px;
	}
	#accept {
		font-size: 42px !important;
		text-indent: 4px;
	}
	.sep:nth-child(2) {
		display: block;
		margin: 0 auto 1em;
	}
}
@media(max-width:568px){
	#missiontitle {
	font-size: 5.5em;
	border: 5px solid #fff;
	}
}
@media(max-width:480px){
	.sep {
		margin: 1.2em auto;
		width: 60%;
	}
	#missiontitle {
	font-size: 5em;
	}
	.navbar h1 {
		 font-size: 2.75em;
	 }
	#reward h2 {
		font-size: 4.25em;
	}
}
@media(max-width:414px){
	.sep {
		margin: 1em auto 0;
		width: 75%;
	}
	#reward p {
		width: 85%;
		max-width: 85%;
	}
	#missiontitle {
	font-size: 4.75em;
	}
	#missiondetail {
		font-size: 2.4em;
	}
	#reward p {
		font-size: 2.4em;
	}
	.navbar h1 {
		 font-size: 2.5em;
	 }
	 #reward h2 {
		font-size: 3.9em;
	}
	#accept {
		font-size: 38px !important;
		text-indent: 3px;
	}
}
@media(max-width:414px) and (max-height:896px) and (orientation: portrait) {
	#missiontitle {
		margin: 0.3em auto 0;
	}
	#missiondetail, #reward p {
		height: 4.6em;
	}
	.sep:nth-child(2) {
    margin: 0 auto 1.5em;
	}
}
@media(max-width:414px) and (max-height:736px) and (orientation: portrait) {
	#missiontitle {
		margin: 0.2em auto 0;
	}
	#missiondetail {
		height: 4.6em;
	}
	#reward p {
		height: 3.2em;
	}
}
@media(max-width:384px){
	#missiondetail {
		height: 4.6em;
	}
	#missiontitle {
	font-size: 4.5em;
	border: 4px solid #fff;
	}
	#reward h2:before,
	#reward h2:after {
		width: 42px;
		height: 50px;
	}
	#accept {
		font-size: 36px !important;
		text-indent: 3px;
	}
	.sep {
		width: 80%;
		height: 4px;
	}
}
@media(max-width:384px) and (max-height:640px) and (orientation: portrait) {
	#missiontitle {
		margin-bottom: 0.1em;
	}
	#missiondetail {
		height: 3.2em;
	}
	.sep {
		margin: 0.5em auto 0;
	}
	.sep:nth-child(2) {
		margin: 0 auto 1em;
	}
}
@media(max-width:375px){
	#missiontitle {
		margin-top: .3em;
		font-size: 4.4em;
		border: 4px solid #fff;
	}
	#reward h2 {
		font-size: 3.6em;
	}
	#reward h2:before,
	#reward h2:after {
		width: 42px;
		height: 50px;
	}
	.sep {
		margin: 1.5em auto 0;
		}
	.sep:nth-child(2) {
		margin: 0 auto 1.5em;
	}
}
@media(max-width:375px) and (max-height:667px) and (orientation: portrait) {
	#missiondetail {
		height: 3.2em;
		font-size: 2.2em;
	}
	#reward p {
		height: 3.2em;
		font-size: 2.2em;
	}
	.sep {
		margin: 1em auto 0 !important;
	}
	.sep:nth-child(2) {
		margin-bottom: 1em !important;
	}
}
@media(max-width:360px){
	.sep:nth-child(2) {
		margin: 0 auto 1.2em;
	}
}
@media(max-width:360px) and (max-height:640px) and (orientation: portrait){
	#missiondetail {
		height: 3.2em !important;
	}
	.sep {
		margin: 0.75em auto 0 !important;
	}
	.sep:nth-child(2) {
		margin-bottom: 1em !important;
	}
}
@media(max-width:320px){
	#missiontitle {
	font-size: 3.8em;
	border: 4px solid #fff;
	margin: 0.25em auto 0;
	}
	#missiondetail {
    font-size: 2em;
		width: 80%;
		max-width: 80%;
		height: 3em;
	}
	#reward {
		width: 100%;
	}
	#reward h2 {
		font-size: 3.25em;
	}
	#reward h2:before,
	#reward h2:after {
		width: 42px;
		height: 50px;
	}
	#reward p {
		width: 100%;
		margin: 0 auto;
		font-size: 2em;
	}
	#accept {
		font-size: 30px !important;
	}
}

@keyframes missiontext {
	0% {
		color: #fff;
		}
    40% {
		color: #004bf4;
		}
    60% {
		color: #004bf4;
		}
	100% {
		color: #fff;
	}
}

@keyframes missionborder {
	0% {
		border-color: #fff;
		}
    40% {
		border-color: #004bf4;
		}
    60% {
		border-color: #004bf4;
		}
	100% {
		border-color: #fff;
	}
}

@keyframes scale {
	100% {
		transform: scale(0.95);
		}
    50% {
		transform: scale(1);
		}
	100% {
		transform: scale(0.95);
	}
}

@keyframes scale2 {
	100% {
		transform: scale(0.75);
		}
    50% {
		transform: scale(0.9);
		}
	100% {
		transform: scale(0.75);
	}
}

@keyframes scale3 {
	100% {
		transform: scale(1);
		}
    50% {
		transform: scale(0.9);
		}
	100% {
		transform: scale(1);
	}
}